@media(max-width: 1270px) {
    .slick-next {
        right: 295px;
        bottom: -315px;
    }
    .slick-prev {
        left: 295px;
        bottom: -315px;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
    .slick-dots li {
        margin: 0 5px;
    }
    .slick-dots button {
        width: 15px;
        height: 25px;
        background-color: #fff;
        border: none;
        border-radius: 30% 0 30% 0;
        font-size: 0;
        opacity: .4;
    }
    .slick-dots .slick-active button {
        background-color: #7A66CC;
        opacity: 1;
    }
}

@media(max-width: 1200px) {
    .header__top {
        padding: 30px 0;
    }
    .header__inner-items {
        justify-content: space-around;
    }
    .header__inner-link {
        max-width: 300px;
    }
}

@media(max-width: 1130px) {
    .about__bottom-info {
        max-width: 410px;
    }
    .about__bottom-img {
        top: -70px;
    }
}

@media(max-width: 1070px) {
    .about__top {
        flex-direction: column;
    }
    .about__info {
        max-width: 650px;
        margin-bottom: 30px;
    }
    .player__botton {
        grid-gap: 28px;
    }
}

@media(max-width: 1000px) {
    .about__bottom-img {
        top: -1px;
        max-width: 264px;
    }
    .header {
        height: 190vh;
    }
    .logo img {
        position: relative;
        z-index: 2;
    }
    .header__inner-items {
        flex-direction: column;
    }
    .header__inner-link {
        max-width: 400px;
        margin-bottom: 30px;
    }
    .burger__menu {
        display: flex;
        right: 5px;
        top: -6px;
    }
    .burger__menu.active::before {
        transform: rotate(45deg);
        top: 11px;
    }
    .burger__menu.active::after {
        transform: rotate(-45deg);
        bottom: 11px;
    }
    .burger__item.active {
        display: none;
    }
    .header__nav {
        position: absolute;
        left: 0;
        right: 0;
        background: #1C1B21;
        top: -200%;
        transition: all .5s;
        color: #fff;
    }
    .header__nav.active {
        top: 0px;
        transition: all .5s;
        padding: 100px 0 20px;
    }
    .header__nav-list {
        flex-direction: column;
    }
    .header__nav-item+.header__nav-item {
        margin-top: 10px;
        margin-left: 0;
    }
    .header__title {
        font-size: calc(40px + (100 - 40) * ((100vw - 320px)/(1000 - 320)));
        line-height: calc(40px + (100 - 40) * ((100vw - 320px)/(1000 - 320)));
    }
    .header__suptitle {
        font-size: calc(25px + (100 - 25) * ((100vw - 320px)/(1000 - 320)));
        line-height: calc(30px + (100 - 30) * ((100vw - 320px)/(1000 - 320)));
    }
}

@media(max-width: 960px) {
    .about__bottom-img {
        right: -2px;
    }
    .player__top {
        flex-direction: column;
        align-items: center;
    }
    .player__img-box {
        margin-bottom: 30px;
        margin-right: 0;
    }
    .player__botton-text {
        left: 13%;
    }
    .player__botton {
        grid-gap: 23px;
    }
    .player__botton-text {
        font-size: 21px;
    }
    .slick-next {
        right: 220px;
    }
    .slick-prev {
        left: 220px;
    }
}

@media(max-height: 904px) {
    .header {
        height: 203vh;
    }
}

@media(max-height: 816px) {
    .header {
        height: 220vh;
    }
}

@media(max-height: 722px) {
    .header {
        height: 235vh;
    }
}

@media(max-height: 635px) {
    .header {
        height: 250vh;
    }
}

@media(max-width: 806px) {
    .about__bottom {
        padding: 50px 35px;
    }
    .player__botton {
        grid-gap: 20px;
    }
}

@media(max-width: 760px) {
    .about__bottom-img {
        position: static;
        display: block;
        margin: 0 auto;
    }
    .about__bottom-info {
        max-width: 100%;
        margin-bottom: 40px;
    }
    .player__botton-text {
        left: 10%;
    }
    .player__botton {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "B  C " "A  D" " A D" "F F";
    }
}

@media(max-width: 600px) {}

@media(max-width: 560px) {
    body {
        font-size: 14px;
        line-height: 22px;
    }
    .title {
        font-size: calc(26px + (48 - 26) * ((100vw - 320px)/(560 - 320)));
        line-height: calc(26px + (72 - 26) * ((100vw - 320px)/(560 - 320)));
        padding-left: calc(70px + (94 - 70) * ((100vw - 320px)/(560 - 320)));
        margin-bottom: calc(42px + (60 - 42) * ((100vw - 320px)/(560 - 320)));
    }
    .about__info-item {
        font-size: 16px;
    }
    .about,
    .about__top,
    .player__top,
    .player,
    .slider {
        margin-bottom: 120px;
    }
    .player__list {
        margin-bottom: 53px;
        font-size: 16px;
        line-height: 24px;
    }
    .footer__social {
        margin-bottom: 60px;
    }
}

@media(max-width: 530px) {
    /* .slider__item.slick-slide {
        width: 80vw !important;
    } */
    .slick-list.draggable {
        padding: 0 0 !important;
    }
}

@media(max-width: 500px) {
    .header__player {
        margin-bottom: 85px;
    }
    .about__bottom-img {
        max-width: 100%;
    }
}

@media(max-width: 480px) {
    .about__bottom {
        padding: 30px 20px;
    }
    .player__social-text {
        margin-right: 16px;
    }
    .player__social-link+.player__social-link {
        margin-left: 14px;
    }
    .player__botton {
        grid-gap: 10px;
    }
}

@media(max-width: 442px) {
    .management {
        margin: 40px 0;
    }
    .management__info-text {
        margin-right: 0;
    }
    .management__info {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .management__contact {
        flex-direction: column;
    }
    .management__info-text {
        font-size: 16px;
        line-height: 24px;
    }
    .management__email,
    .management__name {
        font-size: 16px;
        line-height: 25px;
    }
}

@media(max-width: 420px) {
    .slider__title {
        font-size: 17px;
        line-height: 26px;
        margin-bottom: 15px;
        margin-left: 25px;
    }
    .slider__text {
        margin-bottom: 25px;
        font-size: 17px;
        line-height: 24px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .slider__info {
        margin-left: 25px;
    }
}

@media(max-width: 397px) {
    .slick-dots {
        margin-top: 30px;
    }
}

@media(max-width: 390px) {
    .player__social {
        flex-direction: column;
    }
    .player__social-link+.player__social-link {
        margin-left: -25px;
    }
    .player__social-link {
        margin-left: -25px;
        margin-bottom: 10px;
    }
    .player__social-text {
        margin-bottom: 10px;
    }
    .player__top {
        margin-bottom: 70px;
    }
    .slider__item {
        margin: 0 0;
    }
}

@media(max-width: 380px) {
    .logo img {
        width: 200px;
    }
}