html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background: #1C1B21;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    padding-left: 94px;
    margin-bottom: 60px;
    position: relative;
}

.title::before {
    position: absolute;
    content: url(../img/svg/title-before.svg);
    left: 0;
}


/* Header */

.header {
    height: 120vh;
    margin-bottom: 179px;
}

.header__bg {
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__gradient {
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, #1C1B21 92.19%);
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 85px;
    margin-bottom: 300px;
}

.header__nav {
    padding-bottom: 10px;
}

.header__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
}

.header__nav-item+.header__nav-item {
    margin-left: 56px;
}

.header__suptitle {
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    margin-bottom: 10px;
}

.header__inner {
    margin-top: -33%;
}

.header__title {
    font-size: 100px;
    line-height: 150px;
    font-weight: 700;
    margin-bottom: 50px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.header__player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 130px;
}

.header__player-play {
    padding-right: 20px;
}

.header__track {
    max-width: 887px;
    width: 100%;
    position: relative;
}

.header__track-fool {
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.header__track-active {
    position: absolute;
    width: 76px;
    height: 2px;
    background-color: #715E95;
    top: 0;
}

.header__player-time {
    min-width: 129px;
    padding-left: 20px;
}

.header__inner-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__inner-link {
    max-width: 350px;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-position: center;
    border-radius: 21px 0px;
    display: flex;
    align-items: flex-end;
}

.header__inner-text {
    width: 100%;
    border-radius: 20px 0px;
    padding: 21px 20px;
    background-color: rgba(122, 102, 204, 0.7);
}


/* about */

.about {
    margin-bottom: 265px;
    /* padding-top: 179px; */
}

.about__top {
    margin-bottom: 236px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__info {
    max-width: 540px;
    width: 100%;
}

.about__top-text {
    opacity: 0.7;
    margin-bottom: 60px;
}

.about__info-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__info-item {
    max-width: 248px;
    width: 100%;
    margin-bottom: 33px;
    position: relative;
    padding-left: 50px;
    font-size: 18px;
    font-weight: 600;
}

.about__info-item::before {
    position: absolute;
    content: '';
    background: #7A66CC;
    border-radius: 10px 0px;
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
}

.about__top-img {
    max-width: 445px;
    width: 100%;
    height: 466px;
    position: relative;
}

.about__top-img-1 {
    border-radius: 30px 0;
    max-width: 350px;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
}

.about__top-img-2 {
    border-radius: 30px 0;
    max-width: 350px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: .3;
    transition: all 1s;
}

.about__top-img-2:hover {
    z-index: 5;
    opacity: 1;
    transition: all 1s;
}

.about__top-img-2:hover .about__top-img-1 {
    opacity: .3;
}

.about__bottom {
    padding: 50px 80px;
    border-radius: 30px 0;
    border: 1px solid #fff;
    position: relative;
}

.about__bottom-info {
    max-width: 520px;
    font-size: 18px;
    line-height: 27px;
}

.about__bottom-text {
    margin-bottom: 25px;
    padding-bottom: 25px;
    opacity: 0.6;
    border-bottom: 1px solid #FFF;
    position: relative;
}

.about__bottom-text::before {
    position: absolute;
    content: url(../img/svg/quotes.svg);
    top: 0;
    left: 0;
}

.about__bottom-link {
    color: #7A66CC;
    font-weight: 700;
}

.about__bottom-img {
    position: absolute;
    border-radius: 30px 0;
    max-width: 370px;
    width: 100%;
    right: 70px;
    top: -85px;
}


/* player */

.player {
    margin-bottom: 180px;
}

.player__top {
    margin-bottom: 180px;
    display: flex;
    justify-content: space-between;
}

.player__img-box {
    border-radius: 50%;
    border: 18px solid #383254;
    max-width: 470px;
    max-height: 470px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.player__img {
    max-width: 434px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 18px solid #7A66CC;
}

.player__box {
    max-width: 540px;
    width: 100%;
}

.header__player.player-box {
    margin-bottom: 50px;
}

.player__list {
    margin-bottom: 53px;
    font-size: 18px;
    line-height: 27px;
}

.player__song+.player__song {
    margin-top: 20px;
}

.player__social {
    display: flex;
    align-items: center;
}

.player__social-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-right: 40px;
}

.player__social-link {
    font-weight: 600;
    padding-left: 40px;
    position: relative;
}

.player__social-link+.player__social-link {
    margin-left: 30px;
}

.player__social-link::before {
    position: absolute;
    content: url(../img/svg/spotify-smal.svg);
    left: 0;
    top: -5px;
}

.player__social-link+.player__social-link::before {
    content: url(../img/svg/itunes-smal.svg);
}

.player__botton {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    grid-template-areas: "A  B  C  D " "A  F  F  D";
}

.img-1 {
    grid-area: A;
}

.img-2 {
    grid-area: B;
}

.img-3 {
    grid-area: C;
}

.img-4 {
    grid-area: D;
}

.img-5 {
    grid-area: F;
    position: relative;
    background: linear-gradient(0deg, rgba(28, 27, 33, 0.8), rgba(28, 27, 33, 0.8));
}

.img-5 img {
    position: relative;
    z-index: -1;
}

.player__botton-text {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: #7A66CC;
    transform: translateY(-50%);
}

.player__botton-img {
    border-radius: 30px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}


/* slider */

.slider {
    margin-bottom: 180px;
}

.slider__item {
    max-width: 350px;
    width: 100%;
    max-height: 473px;
    border-radius: 30px 0;
    background-color: #2F2B2B;
    margin: 0 15px;
}

.slider__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px 0;
    width: 100%;
    max-height: 280px;
    margin-bottom: 30px;
}

.slider__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    opacity: .5;
    margin-bottom: 20px;
    margin-left: 35px;
}

.slider__text {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 27px;
    margin-left: 35px;
    margin-right: 35px;
}

.slider__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}

.slider__data {
    font-size: 16px;
    line-height: 24px;
    opacity: .5;
    text-transform: uppercase;
}

.tickets {
    text-transform: uppercase;
    width: 180px;
    height: 60px;
    border-radius: 30px 0;
    background: #7A66CC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-arrow {
    background: inherit;
    border: none;
    position: absolute;
}

.slick-prev {
    left: -55px;
    top: 213px;
}

.slick-next {
    right: -55px;
    top: 210px;
}


/* footer */

.footer {
    padding-bottom: 40px;
    text-transform: uppercase;
}

.footer__inner {
    text-align: center;
}

.management {
    margin: 60px auto;
    max-width: 533px;
}

.management__info {
    display: flex;
}

.management__contact {
    display: flex;
    justify-content: end;
}

.management__info-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-right: 30px;
}

.management__email,
.management__name {
    font-size: 18px;
    line-height: 27px;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.footer__social-item {
    margin: 0 15px;
}

.footer__copy {
    font-size: 13px;
    opacity: .5;
}


/* burger */

.burger__menu {
    width: 25px;
    height: 25px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    display: none;
}

.burger__item {
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all .5s;
}

.burger__menu::before,
.burger__menu::after {
    position: absolute;
    content: '';
    width: 25px;
    height: 3px;
    background-color: #fff;
    left: 0;
    transition: all .5s;
}

.burger__menu::before {
    top: 0;
}

.burger__menu::after {
    bottom: 0;
}